.header__address {
    display: grid;
    grid-template-columns: 1fr 1fr;   
    column-gap: 106px;
    font-size: 18px;
    color: $white;

    @include mediaTablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .info--map {
        position: relative;
        padding-left: 43px;

        &::before {
            content: '';
            position: absolute;
            width: 21px;
            height: 21px;
            left: 0;
            background-image: url('./../images/header/map.svg');
            background-repeat: no-repeat;
        }

        @include mediaTablet {
            padding-left: 26px;
        }
    }

    .info--tel { 
        position: relative;
        padding-left: 25px;

        &::before {
            content: '';
            position: absolute;
            width: 21px;
            height: 21px;
            left: 0;
            background-image: url('./../images/header/phone.svg');
            background-repeat: no-repeat;
        }
    }

}

.info {
    @include mediaTablet {
        font-size: 14px;

    }
}